*.root
ppRun12Datapicos/ppMBRun12
ppRun12Datapicos/ppHT2Run12
ppRun12Datapicos/ppJP2Run12
ppRun12Datapicos/submit/gen
ppRun12Datapicos/submit/log
src/obj/*.o
bin/
*.log
*.out
*.err
*.csh
treesplit*.list
*.condor
*.report
*dataset
*session.xml
schedTemplateExp.xml
*root
.vscode/
.sl73_gcc485/
star_star.simg
run12data.package/
*.zip
submit/scheduler/
bin/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin/RunppTestAna
