*.root
data/picoDst/ppMBRun12
data/picoDst/ppHT2Run12
data/picoDst/ppJP2Run12
data/picoDst/submit/gen
data/picoDst/submit/log
data/*

lists/trees/*


src/obj/*.o
*.log
*.pdf
output/
*.out
*.err
*.csh
treesplit*.list
*.condor
*.report
*dataset
*dataset.tmp
*session.xml
schedTemplateExp.xml
*root
.vscode/
.sl73_gcc485/
star_star.simg
*.package/
*.zip
submit/scheduler/
bin/

run12data*.package
run12*.zip

macros/ana/tasks.md

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.pcm
*.d
*dict.cxx
*dict.h
*dictUmbrella.h
*dictContent.h

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

allout.txt